<div id="<%= dom_id type_person %>">
  <p>
    <strong>Name:</strong>
    <%= type_person.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= type_person.slug %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= type_person.description %>
  </p>

</div>
