<h1>Editing type person</h1>

<%= render "form", type_person: @type_person %>

<br>

<div>
  <%= link_to "Show this type person", @type_person %> |
  <%= link_to "Back to type people", type_people_path %>
</div>
